In [1]:
import pandas as pd
import numpy as np

In [4]:
file = pd.read_csv("../data/poverty_rate_oecd.csv")

In [6]:
file[file["LOCATION"] == "KOR"]

     LOCATION INDICATOR SUBJECT MEASURE FREQUENCY  TIME  Value Flag Codes
606       KOR   POVERTY     TOT      RT         A  2015  0.175        NaN
607       KOR   POVERTY     TOT      RT         A  2016  0.176        NaN
608       KOR   POVERTY     TOT      RT         A  2017  0.174        NaN
609       KOR   POVERTY   18_65      RT         A  2015  0.129        NaN
610       KOR   POVERTY   18_65      RT         A  2016  0.129        NaN
611       KOR   POVERTY   18_65      RT         A  2017  0.127        NaN
1056      KOR   POVERTY    0_17      RT         A  2015  0.160        NaN
1057      KOR   POVERTY    0_17      RT         A  2016  0.152        NaN
1058      KOR   POVERTY    0_17      RT         A  2017  0.145        NaN
1363      KOR   POVERTY  66MORE      RT         A  2015  0.443        NaN
1364      KOR   POVERTY  66MORE      RT         A  2016  0.450        NaN
1365      KOR   POVERTY  66MORE      RT         A  2017  0.438        NaN